@model StudentManagementSystem.Entities.Teacher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<script>

    $(document).ready(function () {
        $("#btncreate").click(function () {
            var data = {
                Fname: $("#Fname").val(),
                Lname: $("#Lname").val(),
                Email: $("#Email").val(),
                password: $("#password").val(),
                phone: $("#phone").val()
            };

            $.ajax(
                {
                    type: "POST",
                    url: "/api/teacher/createteacher/",
                    dataType: "text",
                    data: data,
                    success: function () {
                        alert("Teacher Create successfully.");
                        window.location = "/teachers/getall";
                    },
                    error: function () {
                    }

                });

        });
    });

</script>

<h1>Create</h1>



<h4>TeacherForCreationDto</h4>
<hr />
<div class="row">




    <input id="Fname" type='text' />



    <input id="Lname" type='text' />



    <input id="Email" type='text' />

    <input id="password" type='text' />



    <input id="phone" type='text' />


    <input class="btn-default" type="button" id="btncreate" value="Create" />


</div>

<div>
    <a asp-action="getall" asp-controller="Teacher">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
