@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["PersonName"] = HttpContextAccessor.HttpContext.Session.GetString("SessionKeyFname");
    ViewData["PersonEmail"] = HttpContextAccessor.HttpContext.Session.GetString("SessionKeyEmail");
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-pink">
               
                <ul class="dashboard-stat-list">
                    <li>
                        TODAY
                        <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                    </li>
                    <li>
                        YESTERDAY
                        <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                    </li>
                    <li>
                        LAST WEEK
                        <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Visitors -->
    <!-- Latest Social Trends -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-cyan">
                <div class="m-b--35 font-bold">LATEST SOCIAL TRENDS</div>
                <ul class="dashboard-stat-list">
                    <li>
                        #socialtrends
                        <span class="pull-right">
                            <i class="material-icons">trending_up</i>
                        </span>
                    </li>
                    <li>
                        #materialdesign
                        <span class="pull-right">
                            <i class="material-icons">trending_up</i>
                        </span>
                    </li>
                    <li>#adminbsb</li>
                    <li>#freeadmintemplate</li>
                    <li>#bootstraptemplate</li>
                    <li>
                        #freehtmltemplate
                        <span class="pull-right">
                            <i class="material-icons">trending_up</i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Latest Social Trends -->
    <!-- Answered Tickets -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-teal">
                <div class="font-bold m-b--35">ANSWERED TICKETS</div>
                <ul class="dashboard-stat-list">
                    <li>
                        TODAY
                        <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                    </li>
                    <li>
                        YESTERDAY
                        <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                    </li>
                    <li>
                        LAST WEEK
                        <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                    </li>
                    <li>
                        LAST MONTH
                        <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                    </li>
                    <li>
                        LAST YEAR
                        <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                    </li>
                    <li>
                        ALL
                        <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Answered Tickets -->
</div>