
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<div>
    <a asp-action="getall" asp-controller="Students">Students</a>
</div>

<div>
    <a asp-action="getall" asp-controller="Teacher">Teachers</a>
</div>

<div>
    <a asp-action="getall" asp-controller="Course">Courses</a>
</div>