@model StudentManagementSystem.Entities.Students

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Authtemp.cshtml";
    ViewData["authbodyclass"] = "signup-page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Validate.js" type="text/javascript"></script>

<script>


    $(document).ready(function () {


        $("#btnsignup").on('click', function (e) {
           
            var data = {
                Fname: $("#txtfname").val(),
                Lname: $("#txtlname").val(),
                Email: $("#txtemail").val(),
                password: $("#txtpassword").val(),
                phone: $("#txtphone").val(),
            };
            var confirm = document.getElementById("txtconfirmpassword").value;
            var ddl = document.getElementById("ddlusertype").value;

            var msg = ValidateRegister(data.Fname, data.Lname, data.Email, data.password, confirm, data.phone);

            if (msg != "allset") {
                alert(msg);
                return false;
            }

            if (data.password == confirm) {
                 if (ddl == 2) {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/api/teacher/createteacher/",
                            dataType: "text",
                            data: data,
                            success: function () {
                                alert("Teacher Created successfully.");
                                window.location = "/login";
                            },
                            error: function () {
                            }

                        });
                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/api/students/createstudent/",
                            dataType: "text",
                            data: data,
                            success: function () {
                                alert("Student Created successfully.");
                                window.location = "/login";
                            },
                            error: function () {
                            }

                        });
                }
            } else {
                alert("Password did not match");
                document.getElementById("txtconfirmpassword").value = "";
                document.getElementById("txtpassword").value = "";
            };


           
        });


    });

</script>

<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Registeration</a>
        <small>Student Management System</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_up" method="POST" >
                <div class="msg">Register a new Student</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" id="txtfname" name="firstname" placeholder="First Name" autofocus  >
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" id="txtlname" name="lastname" placeholder="Last Name" autofocus >
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">phone</i>
                    </span>
                    <div class="form-line">
                        <input type="phone" class="form-control" id="txtphone" name="phone" placeholder="Phone" >
                    </div>
                </div>


                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">phone</i>
                    </span>


                    <select class="form-control show-tick" id="ddlusertype"  >
                        <option>-- Select User Type --</option>
                        <option value="2">Teacher</option>
                        <option value="3">Student</option>

                    </select>

                </div>


                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" id="txtemail" name="email" placeholder="Email Address" >
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" id="txtpassword" name="password" minlength="6" placeholder="Password" >
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" id="txtconfirmpassword" name="confirm" minlength="6" placeholder="Confirm Password"  >
                    </div>
                </div>
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" id="btnsignup">SIGN UP</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a asp-action="login" asp-controller="Home">You already have a account?</a>
                </div>
            </form>
        </div>
    </div>
</div>
